@model WebApplicationL5.Data.Models.User

<form method="post" action="/login2">
   <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
    <div class="form-group">
        <label for="Name">Логин:</label>
        <input type="text" name="Name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Password">Пароль:</label>
        <input type="Password" name="Password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>